DATABRICKS_HOST=https://...
DATABRICKS_WAREHOUSE_ID=your_sql_warehouse_id
VITE_REGION_STATUS_TABLE=agentic_energy_workshop.agentic_energy_workshop_d4_serving.gold_nem_app_region_status
VITE_FUEL_GENERATION_TABLE=agentic_energy_workshop.agentic_energy_workshop_d4_serving.gold_nem_scada_generation_5min
PGDATABASE=your_postgres_databaseName
LAKEBASE_ENDPOINT=your_postgres_endpointPath
PGHOST=your_postgres_host
PGPORT=5432
PGSSLMODE=require
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=your_app_name
FLASK_RUN_HOST=0.0.0.0
